@charset "utf-8";


#wrap{
    overflow-x: hidden;
}


.disney .container,.you-contents .container,.viewing .container,.new .container,
.marvel-universe .container,.pixar-studio .container,.star-new .container,
.more-animation .container,.disney-real-animation .container,
.national-geographic .container{
    padding-left: 230px;
    padding-bottom: 116px;
    background-color: #0B0B2F;
}


/* ------------------------------------- */
.side-bar{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #060624;
    padding-top: 40px;
    position: fixed;
    z-index: 999;
}

.side-bar .side-bar-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.side-bar .logo{
    width: 100%;
    height: 48px;
}

.side-bar .profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #BDFF1B;
    overflow: hidden;
    margin: 52px 0 80px;

    cursor: pointer;
}

.side-bar .icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.side-bar .icon-box>div{
    margin-bottom: 60px;
}

.side-bar .icon-box .home{
    width: 50px;
    height: 44.45px;
    cursor: pointer;
}

.side-bar .icon-box .home svg{
    fill: #fff;
}

.side-bar .icon-box .glass{
    width: 50px;
    height: 50.01px;
    cursor: pointer;
}

.side-bar .icon-box .glass svg{
    fill: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.side-bar .icon-box .plus{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.side-bar .icon-box .plus svg{
    fill: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.side-bar .icon-box .star{
    width: 50px;
    height: 48.49px;
    cursor: pointer;
}

.side-bar .icon-box .star svg{
    fill: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.side-bar .icon-box .movie{
    width: 50px;
    height: 43.75px;
    cursor: pointer;
}

.side-bar .icon-box .movie svg{
    fill: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.side-bar .icon-box .display{
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.side-bar .icon-box .display svg{
    fill: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.side-bar .icon-box>div:hover svg{
    opacity: 1;
}

/* 사이드바 끝-------------------------------------- */

/* 메인배너========================================= */

.main .container{
    padding: 60px 0 75px 151px;
    /* background-image: linear-gradient(#58BEDF 5%,#0A0C32,#0A0C32); */
    background: rgb(10,12,50);
    background: linear-gradient(0deg, rgba(10,12,50,1) 0%, rgba(10,12,50,0.75) 90%, rgba(88,190,223,0.5) 150%);
    display: flex;
    justify-content: right;
}

.main .container .main-banner .swiper-container{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.main .container .main-banner .swiper-container .swiper-wrapper .swiper-slide{
    width: 80%;
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 3px 10px 4px 5px rgba(0,0,0,0.3);
    margin: 0 16px;
}

.swiper-slide{
    opacity: 0.7;
    transition: 0.3s;

    cursor: pointer;
}
  
.swiper-slide-active{
    opacity: 1;
}

/* 메인배너 끝========================================= */

/* 버튼----------------------- */

.com-btn .container{
    padding: 0 50px 116px 230px;
    background-color: #0B0B2F;
}

.com-btn .container .com-btn-box{
    display: flex;
    margin-right: -28px;
}

.com-btn .container .com-btn-box .btn-background{
    width: calc(16.66% - 28px);
    height: 145px;
    border-radius: 50px;
    background: #616074;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.25);

    position: relative;
    margin-right: 28px;
}

.com-btn .container .com-btn-box .btn-background .logo-box{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
}

.com-btn .container .com-btn-box .btn-background .logo-box>img{
    object-fit: contain;
}

.com-btn .container .com-btn-box .btn-background video{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    opacity: 0;

    transition: 0.3s;
}

.com-btn .container .com-btn-box .btn-background:hover video{
    opacity: 1;
}

/* 버튼 끝----------------------- */

/* 디즈니VOD--------------------- */

.disney .container{
    position: relative;
}

.disney .container .disney-btn-box{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.disney .container .disney-btn-box .disney-ani{
    width: 263px;
    height: 65px;
    border-radius: 30px;
    background-color: #616074;
    margin-right: 27px;
    cursor: pointer;
}

.disney .container .disney-btn-box .disney-top-btn.active{
    background-color: #181735;
}

.disney .container .disney-btn-box .disney-ani p{
    font-family: "Noto Sans KR";
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 65px;
}

.disney .container .disney-btn-box .disney-real{
    width: 312px;
    height: 65px;
    border-radius: 30px;
    background-color: #616074;
    cursor: pointer;
}

.disney .container .disney-btn-box .disney-real p{
    font-family: "Noto Sans KR";
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 65px;
}

.disney .container .disney-ani-vod .swiper-container-2{
    width: 100%;
    overflow: hidden;
    opacity: 1;
    transition: 0.3s;
}

.disney .container .disney-ani-vod .swiper-container-2 .ani-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

.disney .container .disney-ani-vod .swiper-container-3{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 113px;
    opacity: 0;
    transition: 0.3s;
}

.disney .container .disney-ani-vod .swiper-container-3 .real-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* 디즈니VOD 끝--------------------- */

/* 추천VOD--------------------- */

.you-contents .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.you-contents .swiper-container-4{
    width: 100%;
    overflow: hidden;
}

.you-contents .swiper-container-4 .comm-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* 추천VOD 끝--------------------- */

/* 시청중VOD--------------------- */

.viewing .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.viewing .swiper-container-5{
    width: 100%;
    overflow: hidden;
}

.viewing .swiper-container-5 .view-slide{
    width: 915px;
    height: 503px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 116px;
    cursor: pointer;

    position: relative;

    transition: 0.3s;
}

.viewing .swiper-container-5 .view-slide .toy-video-pre{
    width: 915px;
    height: 503px;
    border-radius: 50px;
    overflow: hidden;
    background: url(../video/toy.png) center;
    background-size: cover;
    position: absolute;
    top: 0;
    transition: 0.3s;
}

.viewing .swiper-container-5 .view-slide:hover .toy-video-pre{
    opacity: 0;
}

.viewing .swiper-container-5 .view-slide .fro-video-pre{
    width: 915px;
    height: 503px;
    border-radius: 50px;
    overflow: hidden;
    background: url(../video/fro.png) center;
    background-size: cover;
    position: absolute;
    top: 0;
    transition: 0.3s;
}

.viewing .swiper-container-5 .view-slide:hover .fro-video-pre{
    opacity: 0;
}

.viewing .swiper-container-5 .view-slide .view-info-box{
    width: 915px;
    height: 230px;
    border-radius: 0 0 50px 50px;
    background-color: rgba(68, 68, 68, 0.731);
    opacity: 0;

    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 55px 12px;

    /* visibility: hidden; */
    transition: 0.3s;
}

.viewing .swiper-container-5 .view-slide:hover .view-info-box{
    /* visibility: visible; */
    /* bottom: 0; */
    opacity: 1;
}

.viewing .swiper-container-5 .view-slide .view-info-box .view-txt p{
    font-family: "Noto Sans KR";
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
}

.viewing .swiper-container-5 .view-slide .view-info-box .view-icon p{
    font-family: "Noto Sans KR";
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}

.viewing .swiper-container-5 .view-slide .view-info-box .view-icon .view-icon-bx{
    display: flex;
    margin-right: -8px;
}

.viewing .swiper-container-5 .view-slide .view-info-box .view-icon .view-icon-bx svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    margin-right: 8px;
    margin-top: 8px;
}

/* 시청중VOD 끝--------------------- */

/* NEW VOD--------------------- */

.new .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.new .swiper-container-6{
    width: 100%;
    overflow: hidden;
}

.new .swiper-container-6 .new-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* NEW VOD 끝--------------------- */

/* 마블 VOD--------------------- */

.marvel-universe .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.marvel-universe .swiper-container-7{
    width: 100%;
    overflow: hidden;
}

.marvel-universe .swiper-container-7 .marvel-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* 마블 VOD 끝--------------------- */

/* 픽사 VOD--------------------- */

.pixar-studio .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.pixar-studio .swiper-container-8{
    width: 100%;
    overflow: hidden;
}

.pixar-studio .swiper-container-8 .pixar-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* 픽사 VOD 끝--------------------- */

/* 스타new VOD--------------------- */

.star-new .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.star-new .swiper-container-9{
    width: 100%;
    overflow: hidden;
}

.star-new .swiper-container-9 .star-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* 스타new VOD 끝--------------------- */

/* 더많은 애니 VOD--------------------- */

.more-animation .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.more-animation .swiper-container-10{
    width: 100%;
    overflow: hidden;
}

.more-animation .swiper-container-10 .animation-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* 더많은 애니 VOD 끝--------------------- */

/* 디즈니 실사 애니 VOD--------------------- */

.disney-real-animation .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.disney-real-animation .swiper-container-11{
    width: 100%;
    overflow: hidden;
}

.disney-real-animation .swiper-container-11 .real-animaition-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* 디즈니 실사 애니 VOD 끝--------------------- */

/* 내셔널지오그래픽 VOD--------------------- */

.national-geographic .container{
    padding-bottom: 321px;
}

.national-geographic .txt-box p{
    font-family: "Noto Sans KR";
    font-size: 1.75em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.national-geographic .swiper-container-12{
    width: 100%;
    overflow: hidden;
}

.national-geographic .swiper-container-12 .nature-slide{
    width: 300px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.3);
    margin-right: 40px;
    cursor: pointer;

    transition: 0.3s;
}

/* .national-geographic .swiper-container-12 .nature-slide:hover{
    opacity: 1;
} */

/* 내셔널지오그래픽 VOD 끝--------------------- */

/* 푸터--------------------- */

.footer .container{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 150px 0;
}

.footer .container .logobox{
    width: 150px;
    height: 50px;
    margin-bottom: 51px;
    cursor: pointer;
}

.footer .container .logobox img{
    object-fit: contain;
}

.footer .container .top-txt p,
.footer .container .bottom-txt p{
    font-family: "Noto Sans KR";
    font-size: 1em;
    color: #fff;
    opacity: 0.5;
    text-align: center;
}

.footer .container .top-txt p:first-of-type{
    cursor: pointer;
}

.footer .container .top-txt p{
    margin-bottom: 25px;
}

.footer .container .bottom-txt{
    margin-bottom: 34px;
}

/* 푸터 끝--------------------- */


/* 미디어쿼리 해야하낭???????????ㅎㅅㅎ */

@media (max-width:1000px){

    .disney .container,.you-contents .container,.viewing .container,.new .container,
    .marvel-universe .container,.pixar-studio .container,.star-new .container,
    .more-animation .container,.disney-real-animation .container,
    .national-geographic .container{
        padding: 0 16px 40px;
    }

    .side-bar{
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        background-color: #060624;
        padding: 0 16px;
        z-index: 999;
    }

    .side-bar .side-bar-top{
        width: 35%;
        flex-direction: row;
    }

    .side-bar .logo{
        width: 150px;
        height: auto;
    }

    .side-bar .profile{
        width: 50px;
        height: 50px;
        margin: 0;
    }

    .side-bar .icon-box{
        flex-direction: row;
        margin: 0;
    }

    .side-bar .icon-box>div{
        margin: 0 20px;
    }

    .side-bar .icon-box .home{
        width: 30px;
        height: 26.67px;
    }
    .side-bar .icon-box .glass{
        width: 30px;
        height: 30px;
    }
    .side-bar .icon-box .plus{
        width: 30px;
        height: 30px;
    }
    .side-bar .icon-box .star{
        width: 30px;
        height: 29.09px;
    }
    .side-bar .icon-box .movie{
        width: 30px;
        height: 26.25px;
    }
    .side-bar .icon-box .display{
        width: 30px;
        height: 24px;
    }

    .main .container{
        padding: 132px 0 44px;
        justify-content: center;
    }

    .com-btn .container{
        padding: 0 16px 48px;
    }

    .com-btn .container .com-btn-box{
        margin-right: -16px;
    }
    
    .com-btn .container .com-btn-box .btn-background{
        width: calc(16.66% - 16px);
        height: 87px;

        margin-right: 16px;
        padding: 0;
    }

    .com-btn .container .com-btn-box .btn-background .logo-box{
        width: 100%;
    }

    .disney .container{
        padding-bottom: 40px;
    }

    .disney .container .disney-btn-box{
        margin-bottom: 8px;
    }

    .disney .container .disney-btn-box .disney-ani{
        background-color: transparent;
        cursor: auto;
        width: auto;
        height: auto;
        border-radius: 0;
        margin: 0;
    }

    .disney .container .disney-btn-box .disney-ani p{
        font-size: 1.75em;
        font-weight: 700;
        text-align: left;
        height: auto;
    }

    .you-contents .txt-box p,
    .viewing .txt-box p,
    .new .txt-box p,
    .marvel-universe .txt-box p,
    .pixar-studio .txt-box p,
    .star-new .txt-box p,
    .more-animation .txt-box p,
    .disney-real-animation .txt-box p,
    .national-geographic .txt-box p{
        font-size: 1.75em;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .disney .container .disney-btn-box .disney-real{
        display: none;
    }

    .disney .container .disney-btn-box .disney-top-btn.active{
        background-color: transparent;
    }

    .disney .container .disney-ani-vod .swiper-container-3{
        display: none;
    }

    .disney .container .disney-ani-vod .swiper-container-2,
    .you-contents .swiper-container-4,
    .viewing .swiper-container-5,
    .new .swiper-container-6,
    .marvel-universe .swiper-container-7,
    .pixar-studio .swiper-container-8,
    .star-new .swiper-container-9,
    .more-animation .swiper-container-10,
    .disney-real-animation .swiper-container-11,
    .national-geographic .swiper-container-12
    {
        width: 100%;
    }

    .disney .container .disney-ani-vod .swiper-container-2 .ani-slide,
    .you-contents .swiper-container-4 .comm-slide,
    .new .swiper-container-6 .new-slide,
    .marvel-universe .swiper-container-7 .marvel-slide,
    .pixar-studio .swiper-container-8 .pixar-slide,
    .star-new .swiper-container-9 .star-slide,
    .more-animation .swiper-container-10 .animation-slide,
    .disney-real-animation .swiper-container-11 .real-animaition-slide,
    .national-geographic .swiper-container-12 .nature-slide{
        width: 200px;
        height: 266.67px;
        border-radius: 0;
    }

    .viewing .swiper-container-5 .view-slide{
        width: 500px;
        height: 274.86px;
        border-radius: 0;
        margin-right: 60px;
    }

    .viewing .swiper-container-5 .view-slide .toy-video-pre,
    .viewing .swiper-container-5 .view-slide .fro-video-pre{
        width: 500px;
        height: 274.86px;
        border-radius: 0;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box{
        width: 500px;
        height: 130px;
        border-radius: 0;
        padding: 16px 0 12px 12px;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box .view-txt p{
        font-size: 1em;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box .view-icon p{
        font-size: 0.8em;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box .view-icon .view-icon-bx svg{
        width: 20px;
        height: 20px;
    }

    .national-geographic .container{
        padding-bottom: 200px;
    }

    .footer .container{
        padding: 28px 16px;
    }

    .footer .container .logobox{
        margin-bottom: 16px;
    }

    .footer .container .top-txt p:first-of-type{
        display: none;
    }
    
    .footer .container .top-txt p{
        margin-bottom: 64px;
    }

    .footer .container .bottom-txt{
        margin: 0;
    }
}

@media (max-width:750px){
    .side-bar{
        height: 70px;
    }

    .side-bar .icon-box .home{
        width: 20px;
        height: 17.78px;
    }
    .side-bar .icon-box .glass{
        width: 20px;
        height: 20px;
    }
    .side-bar .icon-box .plus{
        width: 20px;
        height: 20px;
    }
    .side-bar .icon-box .star{
        width: 20px;
        height: 19.39px;
    }
    .side-bar .icon-box .movie{
        width: 20px;
        height: 17.5px;
    }
    .side-bar .icon-box .display{
        width: 20px;
        height: 16px;
    }

    .side-bar .logo{
        width: 100px;
        height: auto;
    }

    .side-bar .profile{
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .main .container{
        padding-top: 102px;
    }

    .com-btn .container .com-btn-box .btn-background{
        border-radius: 30px;
        height: 80px;
    }
}

@media (max-width:520px){

    .side-bar{
        height: 50px;
    }

    .side-bar .icon-box .home{
        width: 15px;
        height: 13.33px;
    }
    .side-bar .icon-box .glass{
        width: 15px;
        height: 15px;
    }
    .side-bar .icon-box .plus{
        width: 15px;
        height: 15px;
    }
    .side-bar .icon-box .star{
        width: 15px;
        height: 14.55px;
    }
    .side-bar .icon-box .movie{
        width: 15px;
        height: 13.12px;
    }
    .side-bar .icon-box .display{
        width: 15px;
        height: 12px;
    }

    .side-bar .logo{
        width: 80px;
        height: auto;
    }

    .side-bar .profile{
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .main .container{
        padding-top: 82px;
    }

    .main .container .main-banner .swiper-container .swiper-wrapper .swiper-slide{
        width: 70%;
    }

    .com-btn .container{
        padding-bottom: 0;
        overflow-x: scroll;
    }

    .com-btn .container .com-btn-box{
        width: 996px;
        padding-bottom: 8px;
    }

    .com-btn .container .com-btn-box .btn-background{
        border-radius: 10px;
        height: 60px;
        width: 150px;
    }

    .disney .container .disney-btn-box .disney-ani p{
        font-size: 0.75em;
    }

    .you-contents .txt-box p,
    .viewing .txt-box p,
    .new .txt-box p,
    .marvel-universe .txt-box p,
    .pixar-studio .txt-box p,
    .star-new .txt-box p,
    .more-animation .txt-box p,
    .disney-real-animation .txt-box p,
    .national-geographic .txt-box p{
        font-size: 0.75em;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .disney .container .disney-ani-vod .swiper-container-2 .ani-slide,
    .you-contents .swiper-container-4 .comm-slide,
    .new .swiper-container-6 .new-slide,
    .marvel-universe .swiper-container-7 .marvel-slide,
    .pixar-studio .swiper-container-8 .pixar-slide,
    .star-new .swiper-container-9 .star-slide,
    .more-animation .swiper-container-10 .animation-slide,
    .disney-real-animation .swiper-container-11 .real-animaition-slide,
    .national-geographic .swiper-container-12 .nature-slide{
        width: 80px;
        height: 106.67px;
        border-radius: 0;
        margin-right: 8px;
    }

    .viewing .swiper-container-5 .view-slide{
        width: 150px;
        height: 82.46px;
        margin-right: 32px;
    }

    .viewing .swiper-container-5 .view-slide .toy-video-pre,
    .viewing .swiper-container-5 .view-slide .fro-video-pre{
        width: 150px;
        height: 82.46px;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box{
        width: 150px;
        height: 56px;
        padding: 4px 0 5px 8px;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box .view-txt p{
        font-size: 0.375em;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box .view-icon p{
        font-size: 0.25em;
    }

    .viewing .swiper-container-5 .view-slide .view-info-box .view-icon .view-icon-bx svg{
        width: 5px;
        height: 5px;
    }

    .national-geographic .container{
        padding-bottom: 150px;
    }

    .footer .container{
        padding: 28px;
    }

    .footer .container .logobox{
        width: 100px;
        height: auto;
    }
    
    .footer .container .top-txt p{
        margin-bottom: 64px;
        font-size: 0.5em;
    }

    .footer .container .bottom-txt{
        margin: 0;
    }

    .footer .container .bottom-txt p{
        font-size: 0.5em;
    }
}